{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Timeloop plugin for Craft CMS 3.x
 *
 * Timeloop Field Input
 *
 * @author    percipiolondon
 * @copyright Copyright (c) 2021 percipiolondon
 * @link      https://percipio.london
 * @package   Timeloop
 * @since     0.1.0
 */
#}

{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\timeloop\\assetbundles\\timeloop\\TimeloopAsset'
    ],
} %}

{{ craft.timeloop.register('/src/js/timeloop.ts', false, scriptTagOptions) }}
{{ craft.timeloop.register('/src/js/timeloop-field.ts', false, scriptTagOptions) }}

{% import "_includes/forms" as forms %}

{%- set showTime = settings.showTime ?? false -%}

<div class="bg-gray-100 p-6">

    <div class="flex flex-nowrap items-start -mx-8">

        <div class="w-1/2 px-8">

            {{- forms.dateField({
                label: 'Start date',
                instructions: 'Enter a date when the loop should start',
                name: name ~ '[loopStartDate]',
                required: false,
                value: value.loopStartDate ?? now
            }) -}}

        </div>
        <div class="w-1/2 px-8">

            {{- forms.dateField({
                label: 'End date',
                instructions: 'Enter a date when the loop should end',
                name: name ~ '[loopEndDate]',
                value: value.loopEndDate ?? null
            }) -}}

        </div>
    </div>

    {% if showTime %}

        <div class="flex flex-nowrap items-start -mx-8 mt-6">
            <div class="w-1/2 px-8">
                {{- forms.timeField({
                    label: 'Start time',
                    instructions: 'Enter a start time',
                    name: name ~ '[loopStartTime]',
                    value: value.loopStartTime ?? null
                }) -}}
            </div>
            <div class="w-1/2 px-8">
                {{- forms.timeField({
                    label: 'End time',
                    instructions: 'Enter an end time',
                    name: name ~ '[loopEndTime]',
                    value: value.loopEndTime ?? null
                }) -}}
            </div>
        </div>

    {% endif %}

    <hr />

    {% set loopPeriodOptions = {
        label: 'Loop Period',
        instructions: "Select a frequency and provide an interval for the loop",
        id: name ~ '[loopPeriod]',
        name: '[' ~ name ~ ']' ~ '[loopPeriod]',
        required: false,
        value: value.loopPeriod ?? null,
    } %}

    <div id="{{- name -}}_timeloop" class="mt-6">
        <loop-period :options="{{- loopPeriodOptions | json_encode -}}"></loop-period>
    </div>

    <hr />

    <div class="field">
        <div class="heading">
            <label>Reminder</label>
        </div>
        <div class="instructions">
            <span>Set a reminder for the loop, an alert will be sent for every generated date.</span>
        </div>

        <div class="flex flex-nowrap">

            {{- forms.text({
                type: 'number',
                class: 'w-16',
                size: 10,
                value: value.loopReminderValue ?? "",
                id: name ~ "[loopReminderValue]",
                name: name ~ "[loopReminderValue]",
            }) -}}

            {{- forms.select({
                id: name ~ "[loopReminderPeriod]",
                name: name ~ "[loopReminderPeriod]",
                options: [
                    {label: 'None'|t('timeloop'), value: null},
                    {label: 'Day(s)'|t('timeloop'), value: 'days'},
                    {label: 'Week(s)'|t('timeloop'), value: 'weeks'},
                    {label: 'Month(s)'|t('timeloop'), value: 'months'},
                    {label: 'Year(s)'|t('timeloop'), value: 'years'},
                ],
                value: value.loopReminderPeriod ?? null,
            }) -}}

        </div>
    </div>

</div>